.price-title {
    color: rgb(230, 67, 67);
}

.price-btn {
  background-color:   rgba(255, 237, 237, 1) !important;
  color: black !important;
  border-color: rgba(255, 237, 237, 1) !important;

}
.price-btn:hover {
  background-color: rgb(233, 190, 190) !important;
  border-color: rgb(255, 204, 204) !important;
}
.badge-price{
    background-color: transparent !important;
    font-weight: normal !important;
}

.badge-dark-gray {
    color: #3E3E3E !important;
}

.premium-btn {
  background-color: rgba(236, 35, 35, 1) !important; /* Red */
  color: white !important;
  border-color: rgba(236, 35, 35, 1) !important;
}
.premium-btn:hover {
  background-color: rgb(231, 198, 198) ;
  border-color: rgb(253, 230, 230) ;
}


.price-content-box {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
    border-radius: 16px;
    position: relative; 
    overflow: hidden; 
    padding-top: 30px;
    margin-right: 30px;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.price-content-box::before,
.price-content-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}

.price-content-box:not(.premium-card)::before {
    height: 200px;
    background-image: url('/src/assets/img/Intersect\ \(2\).png') !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.premium-card::after {
    height: 200px;
    background-image: url('/src/assets/img/Intersect\ \(1\).png') !important;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

.price-content-box .card-title {
    position: relative;
    z-index: 2;
}

.price-content-box .card-subtitle {
    position: relative;
    z-index: 3;
    font-size: 25px;
}


