.group-termbi{
    margin-right: 10px;
    height: 25px;
}
.dashboard-img {
  width: 80%;          
  max-width: 500px;    
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .dashboard-img {
    width: 90%;        
    margin-top: 1rem;
  }
}

