.red-checkbox .form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.cart{
  width: 80px; 
  height: 80px;
}
.img-cart{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.bg-card{
    background-color: #FFFCFC;
}