.hero{
    background: url("/src/assets/img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}
button.btn-hero{
    height: 56px;
    width: 400px;
   background-color: rgba(236, 35, 35, 1);
   color: white;
   border: red;
   font-size: larger;
}

button.btn-hero:hover{
   background-color: rgb(22, 22, 22);
}


